<div class="category0">
  <select name="category" class="category">
    <option value="view all">view all</option>
    <option value="Relationship">Relationship</option>
    <option value="Family">Family</option>
    <option value="Friends">Friends</option>
    <option value="Hope">Hope</option>
    <option value="Heath">Heath</option>
    <option value="Work">Work</option>
    <option value="Music">Music</option>
    <option value="Helpfull tips">Helpfull tips</option>
    <option value="Parenting">Parenting</option>
    <option value="Education">Education</option>
    <option value="Religion">Religion</option>
    <option value="Pregnancy">Pregnancy</option>
    <option value="Mental health">Mental health</option>
    <option value="Poetry">Poetry</option>
    <option value="Eating Disorder">Eating Disorder</option>
    <option value="My Story">My Story</option>
    <option value="Divourse">Divourse</option>
    <option value="Single Mother">Single Mother</option>
    <option value="Sucaidal">Sucaidal</option>
    <option value="Depression">Depression</option>
    <option value="Bully">Bully</option>
    <option value="Education">Education</option>
    <option value="Technology">Technology</option>
    <option value="Medine">Medine</option>
    <option value="Others">Others</option>
  </select>
</div>
