<div class="moody">
   <select name="mood" class="mood">
     <option value="Sad">Sad</option>
     <option value="Hearth Broken">Hearth Broken</option>
     <option value="Afraid">Afraid</option>
     <option value="Ancious">Ancious</option>
     <option value="Nervous">Nervous</option>
     <option value="Envy">Envy</option>
     <option value="Lone">Lone</option>
     <option value="Tired">Tired</option>
     <option value="Insecure">Insecure</option>
     <option value="Exusted">Exusted</option>
     <option value="Down">Down</option>
     <option value="Overwelmend">Overwelmend</option>
     <option value="Dipressed">Dipressed</option>
     <option value="Happy">Happy</option>
     <option value="Worried">Worried</option>
     <option value="Confused">Confused</option>
     <option value="Embarrassed">Embarrassed</option>
     <option value="Shocked">Shocked</option>
     <option value="Eleated">Eleated</option>
     <option value="Sick">Sick</option>
     <option value="Numb">Numb</option>
     <option value="Board">Board</option>
     <option value="Innadiquate">Innadiquate</option>
     <option value="Frustrated">Frustrated</option>
     <option value="Annoyed">Annoyed</option>
     <option value="Angry">Angry</option>
     <option value="Furios">Furios</option>
     <option value="Jelous">Irritated</option>
     <option value="Moody">Stressed</option>
     <option value="Disqused"></option>
     <option value="Supportive">Supportive</option>
     <option value="Carering">Carering</option>
     <option value="Carering">Carering</option>
     <option value="Loving">Loving</option>
     <option value="Inspired">Inspired</option>
     <option value="Proud">Proud</option>
     <option value="Hopeful">Hopeful</option>
     <option value="Optimistic">Optimistic</option>
     <option value="Loved">Loved</option>
     <option value="Supported">Supported</option>
     <option value="Ammused">Ammused</option>
     <option value="Calm">Calm</option>
     <option value="Relaxed">Relaxed</option>
     <option value="Chilled">Chilled</option>
     <option value="Relieved">Relieved</option>
     <option value="Excited">Excited</option>
     <option value="Jolly"></option>
     <option value="Relieved">Relieved</option>
     <option value="Excited">Excited</option>
     <option value="Joly">Joly</option>
     <option value="Thankfull">Thankfull</option>
     <option value="Determined">Determined</option>
     <option value="Militated">Militated</option>
     <option value="others">others</option>
   </select>
</div>
